
<h1>What Do you want to talk about</h1>


<form method="post" action="/">
<div class="form-group">
   <label for="Topic">Topic 1</label>
   <input class="form-control" type="text" name="topic" id="topic">
 </div>

<div class="form-group">
   <label for="Topic">Topic 2</label>
   <input class="form-control" type="text" name="topic" id="topic">
 </div>

<div class="form-group">
   <label for="Topic">Topic 3</label>
   <input class="form-control" type="text" name="topic" id="topic">
 </div>

<input class="btn btn-default" type="submit">
 </form>

 <a href="/">home</a>
