<div class="center-form panel">
    <div class="panel-body">
        <form class="form-auth" ng-submit="register()">
        	<h2 class="text-center">Register</h2>
        	<p class="text-warning">{{error_message}}</p>
        	<input type="username" ng-model="user.username" placeholder="Username" class="form-control input-lg"><br>
        	<input type="password" ng-model="user.password" placeholder="Password" class="form-control input-lg"><br>
        	<input type="submit" value="Register" class="btn btn-primary" />
        </form>
    </div>
</div>